<%layout("./layouts/boilerplate")%>
<head>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/rating.css">

</head>
<body>
    <div class="row">
        <div class="col-8 offset-2 mt-3">
            <h3><%= listing.title%></h3>
        </div>
            <div class="card col-6 offset-2 show-card listing-card">
                <img src="<%= listing.image.url%>" class="card-img-top show-img" alt="listing_image">
                <div class="card-body">
                    <p class="card-text">
                        Owned by:
                        <% if (listing.owner) { %>
                            <h3 class="card-title"><i><%= listing.owner.username %></i></h3>
                        <% } else { %>
                            <h3 class="card-title"><i>Yours</i></h3>
                        <% } %>
                    </p>
                    <p class="card-text"></p>
                       <%= listing.description%><br>
                      
                    </p>
                </div>
            </div>
           <br/>
           <div class="btns"><a href="/listings/<%=listing._id%>/edit" class="btn btn-dark add-btn col-1 offset-2">Edit </a>
            
          
            <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">
                <button class="btn btn-dark offset-5">
                    Delete 
                </button>
            </form>
        </div>
        </div>
      
    </div>
    
  
</body>
